# Core dependencies
python-dotenv
groq
openai
google-generativeai
videogrep
scikit-learn
nltk
progressbar2
Pillow
yt-dlp
moviepy
opencv-python
pyscenedetect
imagehash

# For audio processing
ffmpeg-normalize
unsilence
pyaudio
